<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <link
    href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Source+Serif+Pro:wght@400;600;700&display=swap"
    rel="stylesheet">
  {{ $styles := resources.Get "styles/tailwind.pcss" | toCSS | postCSS }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
</head>

<body class="flex flex-col min-h-screen font-pt-sans-narrow">
  {{ partial "navbar.html" . }}
  <main class="flex-grow" id="app">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src='{{ "js/default.js" | absURL }}'></script>
</body>

</html>