<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Source+Serif+Pro:wght@400;600;700&display=swap" rel="stylesheet">
  {{ $styles := resources.Get "styles/tailwind.pcss" | toCSS | postCSS }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
</head>

<body class="flex flex-col min-h-screen font-pt-sans-narrow">
  {{ partial "navbar.html" . }}
  <main class="flex-grow" x-data="setup()">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2/dist/alpine.min.js" defer></script>
  <script>
    function setup() {
      const details = Array.from(document.querySelectorAll('details'));

      document.body.addEventListener('click', event => {
        details.forEach(detail => {
          if (!detail.contains(event.target) && detail.hasAttribute('open')) {
            detail.removeAttribute('open');
          }
        })
      });

      return {
        grid: true,
      }
    }
  </script>
</body>

</html>