<div class="card-grid">
  <div class="card-grid-content">
    <h3 class="card-grid-title">Datos de consumo individual de alimentos</h3>
    <p class="card-grid-meta">Autor: Miga</p>
    <div class="card-grid-description">
      <p>La División de Nutrición y Sistemas Alimentarios de la FAO (ESN), en asociación con la División de...
      </p>
    </div>
  </div>
  <div class="card-grid-actions">
    <button class="card-grid-btn bg-eden">Ver</button>
    <button class="card-grid-btn bg-elephant">Descargar</button>
  </div>
</div>