<details class="relative">
	<summary aria-haspopup="listbox" class="bg-eden text-white cursor-pointer flex justify-between list-none select-none py-2 px-4">
    <span class="dropdown-label">Organizaciones</span>
    <svg class="w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
    </svg>
	</summary>
	<ul class="list-none m-0 py-2 px-0 bg-white max-h-48 shadow absolute w-full z-10" role="listbox">
		<li role="option" class="py-2 px-4 cursor-pointer hover:bg-gray-200 truncate">Miga</li>
		<li role="option" class="py-2 px-4 cursor-pointer hover:bg-gray-200 truncate">Hivos</li>
		<li role="option" class="py-2 px-4 cursor-pointer hover:bg-gray-200 truncate">Instituto Nacional de Estadística</li>
		<li role="option" class="py-2 px-4 cursor-pointer hover:bg-gray-200 truncate">ACIEM</li>
  </ul>
</details>