<footer>
  <div style='background-image: url({{"images/footer.png" | absURL}});' class="h-12 bg-cover bg-no-repeat bg-center"></div>
  <div class="flex flex-wrap items-center bg-mine-shaft px-16 py-12">
    <div class="w-full md:w-1/3 flex flex-col items-center text-white lg:flex-row">
      <img class="w-32" src='{{ "images/hivos.jpg" | absURL }}' alt="">
      <div class="mt-4 lg:mt-0 lg:ml-4">
        <p class="leading-tight">Este repositorio fue construido con apoyo del programa Hivos Contrataciones Abiertas.</p>
        <p class="mt-4 leading-tight">El Programa de Contrataciones Abiertas está enfocado en promover la transparencia y, a partir de los datos abiertos generar mayor participación ciudadana.</p>
      </div>
    </div>
    <div class="w-full md:w-1/3 flex flex-col items-center text-white mt-10 md:mt-0">
      <p class="uppercase text-xl font-bold">Comparte</p>
      <div class="flex items-center mt-4">
        <a class="mr-4" href="https://twitter.com/datasketch" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/tw.svg" | absURL }}' alt="">
        </a>
        <a class="mr-4" href="mailto:info@datasketch.co">
          <img src='{{ "images/mail.svg" | absURL }}' alt="">
        </a>
        <a class="mr-0" href="https://es-la.facebook.com/datasketch/" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/fb.svg" | absURL }}' alt="">
        </a>
      </div>
    </div>
    <div class="w-full md:w-1/3 flex flex-col items-center text-white mt-10 md:mt-0">
      <div class="flex items-center">
        <img class="mr-4" src='{{ "images/cc.svg" | absURL }}'>
        <img class="mr-4" src='{{ "images/by.svg" | absURL }}'>
        <img class="mr-0" src='{{ "images/sa.svg" | absURL }}'>
      </div>
      <p class="mt-4 w-64 font-pt-sans-narrow text-sm">Todo el material en esta página es <a
          href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>. Si reusas o adaptas recursos de esta
        página, por favor vincula y referencia nuestro artículo o sitio web.</p>
    </div>
  </div>
</footer>