{{ define "main" }}
<div class="hero">
  <div class="flex flex-col w-full items-center md:w-5/6 md:flex-row md:items-start md:mx-auto">
    <img class="w-40" src='{{ "images/logo.svg" | absURL }}' alt="">
    <div class="text-white border border-white mt-16 md:mt-0 md:ml-16 xl:ml-32">
      <h1 class="px-8 py-4 text-3xl border-b border-white leading-none font-source-serif md:text-4xl xl:text-5xl">
        <span>Repositorio de</span>
        <span class="block font-bold">Datos Alimenticios</span>
      </h1>
      <p class="px-8 py-4 text-lg sm:max-w-md md:max-w-xl xl:text-xl">
        MIGA Bolivia mantiene entre sus metas la revalorización y
        promoción del patrimonio alimentario regional boliviano.
        En el Repositorio MIGA podra encontrar conjuntos de datos
        accesibles, estandarizados y reutilizables asociados a la
        alimentación y agricultura en Bolivia.
      </p>
      <div class="flex border-t border-white">
        <div
          class="flex flex-col leading-none py-4 px-8 w-1/2 text-center border-r border-white text-xl md:flex-row md:items-baseline md:justify-center">
          <span class="text-4xl font-source-serif font-semibold md:text-5xl xl:text-6xl">020</span>
          <span class="md:ml-1">Datasets</span>
        </div>
        <div
          class="flex flex-col leading-none py-4 px-8 w-1/2 text-center text-xl md:flex-row md:items-baseline md:justify-center">
          <span class="text-4xl font-source-serif font-semibold md:text-5xl xl:text-6xl">009</span>
          <span class="md:ml-1">Organizaciones</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="py-16 bg-paper px-4">
  <div class="md:mx-auto md:w-5/6">
    <div>
      <p class="uppercase text-elephant font-bold text-xl tracking-wider">Filtros</p>
      <div class="mt-2 grid gap-4 grid-cols-1 md:grid-cols-3 md:gap-6 lg:gap-10">
        {{ partial "dropdown.html" . }}
        {{ partial "dropdown.html" . }}
        <div class="search">
          <input type="text" class="search-input" placeholder="Buscar dataset">
          <img src='{{ "images/search.svg" | absURL }}' alt="" class="search-icon">
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end mt-6">
      <div class="w-1/3">
        <h2 class="uppercase text-3xl font-bold tracking-wide text-mercury text-center xl:text-4xl">Resultados</h2>
      </div>
      <div class="flex items-center w-1/3 justify-end">
        <button @click="grid = true"><img src='{{ "images/grid-view.svg" | absURL }}' alt=""></button>
        <button @click="grid = false" class="ml-4"><img src='{{ "images/list-view.svg" | absURL }}' alt=""></button>
      </div>
    </div>
    <div class="mt-6">
      <div class="grid gap-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3" x-show="grid">
        <!-- card -->
        {{ partial "card-box.html" . }}
        <!-- card -->
        {{ partial "card-box.html" . }}
        <!-- card -->
        {{ partial "card-box.html" . }}
      </div>
      <div x-show="!grid" class="overflow-x-auto">
        <table class="w-full table-fixed">
          <thead>
            <tr class="bg-elephant text-white text-left text-lg">
              <th class="px-4 py-2">Nombre</th>
              <th class="px-4 py-2">Organizaciones</th>
              <th class="px-4 py-2">Etiquetas</th>
              <th class="px-4 py-2">Fecha creación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-2 truncate">Datos de consumo individual de alimentos</td>
              <td class="px-4 py-2">Miga</td>
              <td class="px-4 py-2 truncate">alimentos, consumo</td>
              <td class="px-4 py-2">2020-12-31</td>
            </tr>
            <tr>
              <td class="px-4 py-2 truncate">Datos de consumo individual de alimentos</td>
              <td class="px-4 py-2">Miga</td>
              <td class="px-4 py-2 truncate">alimentos, consumo</td>
              <td class="px-4 py-2">2020-12-31</td>
            </tr>
            <tr>
              <td class="px-4 py-2 truncate">Datos de consumo individual de alimentos</td>
              <td class="px-4 py-2">Miga</td>
              <td class="px-4 py-2 truncate">alimentos, consumo</td>
              <td class="px-4 py-2">2020-12-31</td>
            </tr>
            <tr>
              <td class="px-4 py-2 truncate">Datos de consumo individual de alimentos</td>
              <td class="px-4 py-2">Miga</td>
              <td class="px-4 py-2 truncate">alimentos, consumo</td>
              <td class="px-4 py-2">2020-12-31</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{ end }}